var fillStar = function (index, iter) {
  console.log(index, iter)
  if(!iter) return "star"
  else return index < Math.ceil(iter / 2) ? "starFill" : "star"
}
var rankScore = function(score){
  if(!score) return "N/A"
  return score+"分"
}
module.exports = {
  fillStar: fillStar,
  rankScore: rankScore
}